body{
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header{
  position: fixed;
  background: #22242A;
  padding: 20px;
  width: 100%;
  height: 30px;
}

.left_area h3{
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 900;
}

.left_area span{
  color: #19B3D3;
}

.logout_btn{
  padding: 5px;
  background: #19B3D3;
  text-decoration: none;
  float: right;
  margin-top: -30px;
  margin-right: 40px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.5s;
  transition-property: background;
}

.logout_btn:hover{
  background: #0B87A6;
}

.sidebar {
  background: #2f323a;
  margin-top: 70px;
  padding-top: 30px;
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
}

.sidebar .profile_image{
  width: 100px;
  height: 100px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.sidebar h4{
  color: #ccc;
  margin-top: 0;
  margin-bottom: 20px;
}

.sidebar li{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 60px;
  text-decoration: none;
  
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}
.sidebar a{
  color: #fff;
  display: block;
  width: 100%;
  line-height: 50px;
  text-decoration: none;
  padding-left: 5px;
  box-sizing: border-box;
  transition: 0.5s;
  transition-property: background;
}

.sidebar a:hover{
  background: #19B3D3;
}

.sidebar i{
  padding-right: 10px;
}

label #sidebar_btn{
  z-index: 1;
  color: #fff;
  position: fixed;
  cursor: pointer;
  left: 30px;
  font-size: 20px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
}

label #sidebar_btn:hover{
  color: #19B3D3;
}

#check:checked ~ .sidebar{
  left: -190px;
}

#check:checked ~ .sidebar a span{
  display: none;
}

#check:checked ~ .sidebar a{
  font-size: 20px;
  margin-left: 170px;
  width: 80px;
}

.content{
  margin-left: 250px;
  background: url(background.png) no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: 0.5s;
}

#check:checked ~ .content{
  margin-left: 60px;
}

#check{
  display: none;
}
.right-sec{
  width:100% ;
}
.top{
  background-image: url(code.jpg);
  background-repeat: no-repeat;
  background-size:cover ;
  height: 350px;
}
.name{
  padding-top: 12%;
  padding-bottom: 15%;
  padding-right: 30%;
  padding-left:30%;

}
.name-1{
  padding:2% ;
  text-align: center;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.bottom-para{
  
  font-size: 1.2rem;
}
.bottom{
  padding-left: 20px;
}
.member{
  position: relative;
  top:40px;
  text-align: center;

}
.features h1{

  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.get{
  
    width:20%;
    padding: 10px;
    margin: 10px 0px 10px 0;
  border:1px solid black;
    background-color:#ffb703;
    text-align: center;
  
}
.button-get{
  text-align: center;
}
.padding {
  padding: 5rem
}

.card {
  position: relative;
  display: flex;
  width: 600px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164)
}

.card .card-body {
    padding: 1rem 1rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

p {
    font-size: 0.875rem;
    margin-bottom: .5rem;
    line-height: 1.5rem
  }
 
  h4 {
      line-height: .2 !important
  }
 
  .items {
      width: 90%;
      margin: 0px auto;
      margin-top: 100px
  }
 
  .slick-slide {
      margin: 10px;
    }

    .media iframe,
    .media-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border: 0;
        border-radius: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: rgba(120, 120, 120, .1);
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
   
    .media-content:before {
        content: '';
        position: absolute;
        height: 10%;
        width: 90%;
        left: 5%;
        bottom: 0;
        filter: blur(10px)
      }
     
      .circle .media-content:before {
          width: 40%;
          left: 30%
      }
     
      .profile-image {
          width: 100%;
          height: 200px;
          border-top-left-radius: 11px !important;
          border-top-right-radius: 11px
      }
     
      .card-title {
          font-size: 19px;
          font-weight: 200
      }
   /* accordion    */
 